@model PocketRoofer.Models.EstimateViewModel

@using PocketRoofer.Models;


@{
    ViewBag.Title = "EstimateDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <meta name="viewport" content="width=device-width" />
    <h2>Estimate Details</h2>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <h1>PocketRoofer</h1>
            <p class="lead"> These are your saved Estimates</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.address, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.bundle, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.bundle, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
